:root {
  --primary-color: #a58e57; /* Brown */
  --secondary-color: #808080; /* Grey */
  --background-color: #fdfbf7; /* Light earthy tone */
}

body {
  background-color: var(--background-color);
  font-family: 'Open Sans', sans-serif; /* Default font */
}

/* General styling */
.Container {
  max-width: 1200px; /* Or 'lg' as per your framework */
  margin: auto;
  padding: 20px;
  background-color: #fff; /* Make the container solid */
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Soft shadow to lift the container off the background */
}

.Item {
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 4px;
}

/* Typography styles */
h1 {
  font-family: 'Merriweather', serif; /* Unique font for h1 */
  color: var(--primary-color);
}

h2, h5 {
  font-family: 'Roboto', sans-serif; /* Distinct font for headings */
  color: var(--secondary-color);
}

p {
  font-family: 'Open Sans', sans-serif; /* Consistent with the body for readability */
  color: #333; /* Darker text for contrast */
}

/* Button and interactive elements */
.Button {
  background-color: #5D4037;
  color: white;
  padding: 10px 30px;
  text-transform: none;
  border-radius: 20px;
  box-shadow: none;
  transition: background-color 0.3s ease;
}

.Button:hover {
  background-color: darken(var(--primary-color), 10%);
}

/* Responsive design */
@media only screen and (max-width: 600px) {
  .Item {
    padding: 10px;
  }
}
